allow system_app media_rw_data_file:file {r_file_perms w_file_perms};

allow system_app sysfs_batteryinfo:dir search;
allow system_app sysfs_batteryinfo:file { read open getattr};

allow system_app sysfs_headset:file { rw_file_perms };
allow system_app fm_device:chr_file { rw_file_perms };

allow system_app sysfs_leds:dir search;
allow system_app sysfs_mt65xx_leds:dir search;
allow system_app sysfs_mt65xx_leds:file { read open write getattr };
allow mtk_hal_light sysfs_mt65xx_leds:dir search;
allow mtk_hal_light sysfs_mt65xx_leds:file { read open write getattr };
allow system_app proc_self_test:dir search;
allow system_app proc_self_test:file { read open getattr};

allow mtk_hal_sensors sysfs_sensorinfo:dir { search };
allow mtk_hal_sensors sysfs_sensorinfo:file { read open write getattr };
allow system_app sysfs_sensorinfo:dir search;
allow system_app sysfs_sensorinfo:file { read open write getattr };

allow system_app gsensor_device:chr_file { rw_file_perms };
allow system_app gyroscope_device:chr_file { rw_file_perms };
allow system_app als_ps_device:chr_file { rw_file_perms };
